body {
     padding: 0px;
     margin: 0px;
}
@font-face {
    font-family: Supply;
    src: url("../assets/fonts/Supply-Regular.otf");
}
@font-face {
    font-family: Teko;
    src: url("../assets/fonts/Teko-Regular.ttf");
}
@font-face {
    font-family: TekoBold;
    src: url("../assets/fonts/Teko-Bold.ttf");
}
@font-face {
    font-family: Roboto;
    src: url("../assets/fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: OpenSans;
    src: url("../assets/fonts/OpenSans-Regular.ttf");
}
.container {
	display: grid;
	justify-content: center;
}
.page-1 {
	/*background: url(../assets/bg-1.png);
	padding-top: 1px;
	padding-bottom: 150px;
	position: relative;
	z-index: 0;*/
	/*background: url(../assets/bg-1.png) no-repeat center center fixed;*/
	background-color: #091207;
    padding-top: 1px;
    padding-bottom: 150px;
    position: relative;
    z-index: 0;
    background-color: osition: absolute;
    /* background: linear-gradient(90deg, #0E110D 28.61%, rgba(35, 53, 26, 0) 93.42%); */
    top: 0px;
    width: 100%;
    max-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 100vw;
  height: 100vh;
}
.page-1 .content-nav {
   background: rgba(0, 0, 0, 0.6);
   backdrop-filter: blur(20px);
   border-radius: 38px;
   height: 59px;
   width: 98%;
   margin: auto;
   display: flex;
   align-items: center;
   margin-top: 15px;
   position: relative;
   z-index: 1;
}
.page-1 .content-nav .logo {
	padding-left: 26px;
	padding-right: 46.79px;
}
.page-1 .content-nav .content-left {
	display: inline-flex;
    justify-content: left;
    width: 100%;
}
.page-1 .content-nav .content-left .ntw{
    padding-right: 38.17px;
}
.page-1 .content-nav .content-right {
	display: inline-flex;
    justify-content: right;
    width: 100%;
    padding-right: 16px;
}
.page-1 .content-nav .content-right .content-header {
	display: flex;
	padding-right: 48px;
}
.page-1 .content-nav .content-right .content-header .text {
	font-family: 'Supply';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    text-transform: uppercase;
    padding-right: 24px;
    padding-left: 24px;
    color: rgba(255, 255, 255, 0.9);
}
.page-1 .content-nav .content-right .content-button {
	background: #D3FF81;
    box-shadow: 0px 0px 24px #D3FF81;
    border-radius: 64px;
    border: unset;
/*    padding: 0px 16px;*/
    padding: 0px 22px;
    width: 169px;
}
.page-1 .content-nav .content-right .content-button p{
	font-family: 'Supply';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
}
.page-1 .content-section {
	margin-top: 36px;
	position: relative;
	z-index: 1;
}
.page-1 .content-section::before {
    content: "";
}
.page-1 .content-section .header div .small-text {
	font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0px;
}
.page-1 .content-section .header .big-text {
	font-family: 'TekoBold';
    font-style: normal;
    font-weight: 700;
    font-size: 135px;
    line-height: 90%;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-shadow: 0px 0px 24px rgba(143, 255, 0, 0.42);
    margin: 0px;
}
.page-1 .content-section .content-left {
	position: absolute;
    left: 0px;
    right: 0px;
    top: -20px;
}
.page-1 .content-section .content-left .sloth {
	width: 143vh;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}
.page-1 .content-section .content-right {
	margin-top: 21px;
    width: 45%;
    margin-left: auto;
    margin-right: 10%;
}
.page-1 .content-section .content-right .regular-text {
	font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 120%;
    text-align: right;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0px;
}
.page-1 .content-section .content-right .small-text {
	font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: right;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    margin-top: 30px;
}
.page-1 .content-section .content-right .term {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px;
}
.page-1 .content-section .content-right .term span {
	font-family: 'Supply';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
}
.page-1 .content-section .content-right .term .block {
    padding-right: 42px;
    padding-left: 43px;
    z-index: 1;
}
.page-1 .content-section .content-right .term .block .text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: right;
    letter-spacing: -0.05em;
    color: #D3FF81;
    text-shadow: 0px 0px 24px rgba(143, 255, 0, 0.42);
    margin: 0px;
    text-align: center;
}
.page-1 .content-section .content-right .term .block .number {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
}
.page-1 .pic .ship {
	position: absolute;
    top: 0px;
    right: 0px;
}
.page-1 .pic .fog {
	height: 100%;
	position: absolute;
    top: 0px;
    right: 0px;
}
/*page-2*/

.page-2 {
	background: url('../assets/bg-2.png');
	/*height: 705px;*/
	background-position: right;
	position: relative;
	width: 100vw;
    height: 100vh;
}
.page-2::before {
	content: "";
    background: linear-gradient(66.33deg, #000000 47.71%, rgba(0, 0, 0, 0) 97.52%);
/*    height: 736px;*/
    position: absolute;
    width: 100%;
    height: 100%;
/*    bottom: 30px;*/
}
.page-2 .content-header {
	display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    padding-left: 111px;
    position: relative;
}
.page-2 .content-header .text {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 110%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 24px rgba(143, 255, 0, 0.42);
    margin-bottom: 0px;
}
.page-2 .content-blocks {
	display: flex;
    margin-top: 40px;
    position: relative;
}

.page-2 .content-blocks .content-block .big-text {
	font-family: 'Teko';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 110%;
    text-transform: uppercase;
    color: #D3FF81;
    margin-bottom: 30px;
    margin-top: 0px;
}
.page-2 .content-blocks .content-block .small-text {
	font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    margin: 0px;
}
.page-2 .lamp {
	position: absolute;
	left: 45%;
	z-index: 1;
}
.page-2 .lamp .l1 {
	position: absolute;
    top: -150px;
}
.page-2 .lamp .l2 {
    position: absolute;
    left: 200px;
}
/* Page-3 */
.page-3 {
	/*background: url(../assets/bg-1.png);*/
	background-color: black;
	padding-top: 1px;
	height: 1219px;
	padding-bottom: 140px;
}
.page-3 .content-header {
	display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    padding-left: 111px;
    position: relative;
}
.page-3 .content-header .text {
	font-family: 'Teko';
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 110%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 24px rgba(143, 255, 0, 0.42);
}
.page-3 .content-block-1 {
	width: 82.5%;
	margin: auto;
	display: flex;
}
.page-3 .content-block-1 .bl-1 {
	justify-content: left;
    width: 100%;
    display: grid;
}
.page-3 .content-block-1 .bl-2 {
	justify-content: right;
    width: 100%;
    display: grid;
}
.page-3 .content-block-1 .block .header {
	display: flex;
}
.page-3 .content-block-1 .block .header .big {
	display: flex;
    height: 78px;
    align-items: center;
    margin-right: 40px;
}
.page-3 .content-block-1 .block .header .big .text {	
    font-family: 'Teko';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 100%; 
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    color: #FFFFFF;
}
.page-3 .content-block-1 .block .header .big .number {
	font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 100%;
    text-transform: uppercase;
    color: #D3FF81;
    transform: rotate(-90deg);
}
.page-3 .content-block-1 .block .header .small-text {
	font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
}
.page-3 .content-block-1 .bl-1 .image {
	position: relative;
	right: 70px;
}
.page-3 .content-block-1 .bl-1 .header {
    position: relative;
    bottom: 60px;
}
.page-3 .content-block-1 .bl_new3 .header {
    position: relative;
    bottom: 0px;
}
.page-3 .content-block-1 .bl_new4 .header {
    position: relative;
    bottom: 23px;
}
.page-3 .content-block-1 .bl_new3 .image {
	position: relative;
    left: 50px;
    top: 25px;
}
.page-3 .content-block-1 .bl_new4 .image {
	position: relative;
    bottom: 25px;
}
/* Footer */

.page-last {
   background: #000000;
   display: flex;
}
.page-last .logo {
   justify-content: left;
   display: flex;
   width: 100%;
   padding-left: 42px;
   align-items: center;
}
.page-last .logo .text {
   font-family: 'Supply';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 100%;
   text-transform: uppercase;
   color: rgba(211, 255, 129, 0.6);
   padding-left: 21px;
}
.page-last .header {
   justify-content: center;
   display: flex;
   width: 100%;
   align-items: center;
}
.page-last .header .text {
   font-family: 'Supply';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 100%;
   text-transform: uppercase;
   color: rgba(255, 255, 255, 0.9);
}
.page-last .ntw {
	justify-content: right;
   display: flex;
   width: 100%;
   padding-right: 27px;
   align-items: center;
}
.page-last .ntw .img {
   padding-right: 38px;
}